body {
  font-family: "Poppins", sans-serif;
}

li {
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  background-color: #fbf290;

  img {
    height: 70px;
  }

  li {
    padding: 5px;
  }
}

.container {
  height: 100vh;
}

.sidebar {
  padding-top: 100px;
  background-color: #f3f3f3;

  li {
    padding: 10px;
  }
}

main {
  padding-top: 100px;
  flex-grow: 1;

  h1 {
    text-align: center;
  }

  i {
    padding: 3px;
  }

  li {
    padding: 5px;
  }
}

@media (min-width: 576px) {
  .add-items {
    display: flex;
  }

  .nav-plus {
    display: none !important;
  }

  .sidebar {
    display: block;
  }
}

table {
  width: 70%;
}

th {
  text-align: left;
}

table tr:nth-child(2) {
  column-span: 10;
}

table tr:nth-child(3) {
  column-span: 5;
}
